<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="p-6 max-w-md w-full bg-white rounded-xl shadow-md">
    <h2 class="text-xl font-bold mb-4 text-gray-800">Login</h2>
    
    <form (ngSubmit)="onLogin()">
      <input 
        [(ngModel)]="user.username" 
        name="username" 
        placeholder="Username" 
        class="border border-gray-300 p-2 w-full mb-3 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" 
      />

      <input 
        [(ngModel)]="user.passwordHash" 
        name="password" 
        type="password" 
        placeholder="Password" 
        class="border border-gray-300 p-2 w-full mb-3 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" 
      />

      <button 
        type="submit" 
        class="w-full bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md font-medium transition"
      >
        Login
      </button>
    </form>

    <p class="mt-3 text-red-500 text-center">{{message}}</p>
  </div>
</div>
